body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 121, 121, 1) 38%,
        rgba(0, 212, 255, 1) 100%
    );
}

.app {
    text-align: center;
}

.form {
    width: 700px;
}

.particles {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bounding-box {
    position: absolute;
    box-shadow: inset 0 0 0 8px red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}